<% title 'Sơ Lược Phật Giáo Định Quán' %>
<% content_for :metas do %>
<meta property="og:locale" content="vi" />
<meta property="og:type" content="website"/>
<meta property="og:title" content="Sơ Lược Phật Giáo Định Quán | Phật Giáo Định Quán"/>
<meta property="og:description" content="Do có lịch sử lâu dài và địa hình, cũng như sự đa dạng của các tộc người vì vậy Phật giáo tại huyện Định Quán cũng rất đa dạng và phong phú."/>
<meta property="og:url" content="https://phatgiaodinhquan.org<%= about_link %>"/>
<meta property="og:site_name" content="Phật Giáo Định Quán" />
<meta property="og:image" content="https://phatgiaodinhquan.org/img/social-share.jpg"/>
<meta property="og:image:alt" content="Sơ Lược Phật Giáo Định Quán"/>
<meta property="og:image:width" content="1200"/>
<meta property="og:image:height" content="560"/>

<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="https://phatgiaodinhquan.org<%= about_link %>"/>
<meta name="twitter:title" content="Sơ Lược Phật Giáo Định Quán | Phật Giáo Định Quán" />
<meta name="twitter:description" content="Do có lịch sử lâu dài và địa hình, cũng như sự đa dạng của các tộc người vì vậy Phật giáo tại huyện Định Quán cũng rất đa dạng và phong phú."/>
<meta name="twitter:image" content="https://phatgiaodinhquan.org/img/social-share.jpg"/>
<% end %>

<%= stylesheet_link_tag '/css/style.min.css' %>
<%= stylesheet_link_tag '/css/single.min.css' %>
<%= stylesheet_link_tag '/css/shortcodes.min.css' %>
<%= stylesheet_link_tag '/css/taqyeem.min.css' %>
<%= stylesheet_link_tag '/css/taqyeem-buttons-style.css' %>
<div id="content" class="site-content container">
<div class="tie-row main-content-row">
   <div class="main-content tie-col-md-8 tie-col-xs-12" role="main">
      <article id="the-post" class="container-wrapper post-content tie-standard">
         <header class="entry-header-outer">
            <nav id="breadcrumb">
               <a href="<%= erp_pgdq.root_path %>" title="Quay về trang chủ"><span class="fa fa-home" aria-hidden="true"></span> Trang Chủ</a>               
               <em class="delimiter"><span class="fa fa-angle-right"></span></em><span class="current">Sơ Lược Phật Giáo Định Quán</span>
            </nav>            
            <div class="entry-header">
               <h1 class="post-title entry-title">Sơ Lược Phật Giáo Định Quán</h1>
               <div id="single-post-meta" class="post-meta clearfix">
                  <span class="date meta-item tie-icon"><strong>Ngày đăng: </strong>Thursday, 10/09/2020</span>
                  <span class="meta-item last-updated"><strong>Ngày cập nhật: </strong>08:35 AM Thursday, 24/09/2020</span>
               </div>
            </div>
         </header>
         <div class="entry-content text-justify entry clearfix">
            <h2 class="text-center">Phật Giáo Huyện Định Quán, Tỉnh Đồng Nai</h2>
            <p><strong><em>Định Quán là một huyện miền núi nằm dọc theo tuyến Quốc lộ 20, cách xa TP. Hồ Chí Minh khoảng 110 km, là một huyện trong 11 huyện thị thành của tỉnh Đồng Nai. Diện tích tự nhiên của huyện là 966.5 km² với dân số 194.143 người (theo số liệu điều tra dân số năm 2009). Gồm nhiều dân tộc sinh sống như: Kinh, Thái, Hoa, Tày, Khmer, Chơ Ro, Chăm, Ê Đê, Sán Dìu, Châu Mạ, Thái,... nhưng chủ yếu vẫn là dân tộc Kinh.</em></strong></p>
            <p>Định Quán gồm 1 thị trấn (thị trấn Định Quán) và 13 xã (Thanh Sơn, Phú Tân, Phú Vinh, Ngọc Định, La Ngà, Phú Lợi, Phú Hoà, Gia Canh, Phú Ngọc, Túc Trưng, Phú Cường, Phú Túc, Suối Nho).</p>
            <p style="text-align: center;"><img title="Sơ Lược Phật Giáo Định Quán" src="/img/content/huyen-dinh-quan-1.jpg" alt="Sơ Lược Phật Giáo Định Quán" width="90%" height="auto"></p>
            <p>Do có lịch sử lâu dài và địa hình, cũng như sự đa dạng của các tộc người vì vậy Phật giáo tại huyện Định Quán cũng rất đa dạng và phong phú. Tổng số Tự viện, Thiền viện, Tu viện, Tịnh xá, Tịnh thất,... được hợp pháp sinh hoạt là khoảng 38 cơ sở trong đó số lượng Tăng ni khoảng trên 100 vị và đặc biệt là có đầy đủ cơ cấu hoàn hảo. Đó là trên thì có những bậc Chứng minh niên cao, lạp trưởng, lãnh đạo giáo hội Huyện thị có những vị Thượng tọa, Đại đức nhiệt huyết năng nổ, dưới thì có thế hệ Tăng trẻ để sau này kế thừa hoằng pháp lợi sanh. Đó là một điều rất mừng cho Phật giáo huyện Định Quán. Các cơ sở thờ tự trãi đều trên toàn Huyện, hầu như xã nào cũng có Chùa, Tịnh xá hay Thiền viện. Phật giáo huyện Định Quán cũng đầy đủ các hệ phái Bắc tông, Nam tông, Thiền tông, Khất sĩ,... tất cả các Tự viện đều hòa hợp cùng nhau tu tập, đều sinh hoạt theo hiến chương của Giáo hội và Pháp luật của Nhà nước.</p>
            <p>Bên cạnh việc tu học, Tăng Ni trong Huyện cũng tham gia vào các vị trí trong chính quyền để đóng góp ý kiến cho việc xây dựng đất nước ngày một phát triển và phồn vinh. Điển hình Thượng tọa Thích Đồng Ngạn (trưởng BTS Phật Giáo Huyện ứng cử) hiện là thành viên của Ủy ban Mặt trận Tổ quốc Huyện, quý Tăng Ni trong Huyện cũng tham gia vào HĐND, Ủy ban MTTQ, Hội Chữ Thập Đỏ,... trong huyện và các xã.</p>
            <p>Được hình thành và phát triển lâu dài vì vậy các Tự viện và Tăng Ni Phật tử sinh hoạt ổn định. Cơ cấu Giáo hội Huyện đầy đủ các thành viên bao gồm các vị Chứng minh và thành viên BTS. Phật giáo Huyện gồm 15 vị, các phân ban được hình thành và hoạt động đồng bộ, nhịp nhàng. Các Tự viện tổ chức tu tập thường xuyên bao gồm các Lễ cầu an, Lễ cầu siêu vào ngày 15 và 30 hằng tháng, đồng thời nhiều Chùa cũng tổ chức khóa tu Bát quan Trai và khóa tu một ngày.</p>
            <p>Với đặc thù địa lý của huyện là khu vực miền núi và nhiều người dân tộc nên <strong>Phật Giáo Huyện Định Quán</strong> cũng rất chú trọng trong công tác Từ thiện, xây dựng nhà Tình Nghĩa, Tình Thương, phát quà đồng bào nghèo, giếng nước nghĩa tình, nuôi trẻ mồ côi, người già neo đơn, phát cơm từ thiện tại bệnh viện, phát cơm cho học sinh ở các trường học vì hoàn cảnh các em đi học xa xôi phải ở lại trường buổi trưa để học.</p>
            <p>Mỗi năm công tác từ thiện của các Chùa trong Huyện ngày càng tăng mạnh. Theo thống kê năm 2014, công tác từ thiện của các Chùa trong Huyện là trên 7 tỷ đồng. Điển hình 2 tự viện có công tác từ thiện nổi trội trong Huyện là chùa Bửu Sơn xã Ngọc Định, do Thượng tọa Thích Minh Dũng trụ trì là nơi nuôi dạy các trẻ mồ côi và người già neo đơn. Chùa Pháp Hoa xã La Ngà do Ni trưởng Thích Nữ Như Thiền là trụ trì, là nơi nuôi dưỡng trẻ mồ côi và trường mầm non cho các trẻ.</p>
            <p style="text-align: center;"><img title="Sơ Lược Phật Giáo Định Quán" src="/img/content/huyen-dinh-quan-2.jpg" alt="Sơ Lược Phật Giáo Định Quán" width="90%" height="auto"></p>
            <p><strong><em>Nói đến Định Quán thì ai cũng biết đến biểu tượng Đá Ba Chồng, với những nét đẹp lạ lùng của tạo hóa, thiên nhiên, nơi đây gắn liền với văn hóa óc eo, với vẽ đẹp kỳ thú của quần thể khu đá Ba Chồng. Chính vì vậy Bộ Văn hóa Thông tin đã xếp hạng Đá Ba Chồng vào Di tích Danh Thắng cấp Quốc gia. Gắn liền với biểu tượng đó là ngôi chùa Thiên Chơn có tượng Phật Thích Ca ngồi trên tòa sen cao hơn 20m nằm trên hòn đá Bạch Tượng, tạo nên một nét đẹp đặc thù mà khi một ai đến Định Quán cũng không thể quên. Nơi đây trở thành nơi du lịch Tâm linh lý tưởng để mọi người gần gũi hơn với thiên nhiên và sự hùng vĩ của đất con người Việt.</em></strong></p>
         </div>
      </article>
   </div>
   <%= stylesheet_link_tag '/css/widgets.min.css' %>
   <aside class="sidebar tie-col-md-4 tie-col-xs-12 normal-side is-sticky" aria-label="">
      <%= render 'erp/pgdq/frontend/modules/sidebar' %>
   </aside>
</div>
</div>