<% title 'Giới Thiệu Phật Giáo Huyện Định Quán' %>
<% content_for :metas do %>
<meta property="og:locale" content="vi" />
<meta property="og:type" content="website"/>
<meta property="og:title" content="Giới Thiệu Phật Giáo Huyện Định Quán | Phật Giáo Định Quán"/>
<meta property="og:description" content="Trang tin Phật Sự Online cập nhật những thông tin, hình ảnh, hoạt động Ban ngành, hoạt động Phật Sự tại huyện Định Quán, tỉnh Đồng Nai."/>
<meta property="og:url" content="https://phatgiaodinhquan.org<%= about_link %>"/>
<meta property="og:site_name" content="Phật Giáo Định Quán" />
<meta property="og:image" content="https://phatgiaodinhquan.org/img/social-share.jpg"/>
<meta property="og:image:alt" content="Giới Thiệu Phật Giáo Huyện Định Quán"/>
<meta property="og:image:width" content="1200"/>
<meta property="og:image:height" content="560"/>

<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="https://phatgiaodinhquan.org<%= about_link %>"/>
<meta name="twitter:title" content="Giới Thiệu Phật Giáo Huyện Định Quán | Phật Giáo Định Quán" />
<meta name="twitter:description" content="Trang tin Phật Sự Online cập nhật những thông tin, hình ảnh, hoạt động Ban ngành, hoạt động Phật Sự tại huyện Định Quán, tỉnh Đồng Nai."/>
<meta name="twitter:image" content="https://phatgiaodinhquan.org/img/social-share.jpg"/>
<% end %>

<%= stylesheet_link_tag '/css/style.min.css' %>
<%= stylesheet_link_tag '/css/single.min.css' %>
<%= stylesheet_link_tag '/css/shortcodes.min.css' %>
<%= stylesheet_link_tag '/css/taqyeem.min.css' %>
<%= stylesheet_link_tag '/css/taqyeem-buttons-style.css' %>
<div id="content" class="site-content container">
<div class="tie-row main-content-row">
   <div class="main-content tie-col-md-8 tie-col-xs-12" role="main">
      <article id="the-post" class="container-wrapper post-content tie-standard">
         <header class="entry-header-outer">
            <nav id="breadcrumb">
               <a href="<%= erp_pgdq.root_path %>" title="Quay về trang chủ"><span class="fa fa-home" aria-hidden="true"></span> Trang Chủ</a>               
               <em class="delimiter"><span class="fa fa-angle-right"></span></em><span class="current">Giới Thiệu Phật Giáo Huyện Định Quán</span>
            </nav>            
            <div class="entry-header">
               <h1 class="post-title entry-title">Giới Thiệu Phật Giáo Huyện Định Quán</h1>
               <div id="single-post-meta" class="post-meta clearfix">
                  <span class="date meta-item tie-icon"><strong>Ngày đăng: </strong>Thursday, 10/09/2020</span>
                  <span class="meta-item last-updated"><strong>Ngày cập nhật: </strong>09:10 PM Thursday, 10/09/2020</span>
               </div>
            </div>
         </header>         
      </article>
   </div>
   <%= stylesheet_link_tag '/css/widgets.min.css' %>
   <aside class="sidebar tie-col-md-4 tie-col-xs-12 normal-side is-sticky" aria-label="">
      <%= render 'erp/pgdq/frontend/modules/sidebar' %>
   </aside>
</div>
</div>