<div id="content" class="site-content container">
    <div id="main-content-row" class="tie-row main-content-row">
        <div class="main-content tie-col-md-8 tie-col-xs-12" role="main">
            <header class="entry-header-outer container-wrapper">
              <nav id="breadcrumb">
                  <%= link_to '<span class="tie-icon-home" aria-hidden="true"></span> Trang Chủ'.html_safe, root_link, title: 'Trang Chủ' %>
                  <em class="delimiter"><span class="fa fa-angle-right"></em><span class="current">Tìm Kiếm Bài Viết</span>
              </nav>
                <h1 class="page-title">Tìm Kiếm Bài Viết Với Từ Khóa: <span>"<%= params[:keys] %></span>"</h1>
                <%= form_tag(search_link, method: "get", class: "search-form") do %>
                    <label>
                        <span class="screen-reader-text">Tìm kiếm:</span>
                        <input type="search" class="search-field" placeholder="Tìm kiếm bài viết &hellip;" value="<%= params[:keys] %>" name="keys" />
                    </label>
                    <input type="submit" class="search-submit" value="Tìm kiếm" />
                <% end %>
            </header>
            <% if @articles.count > 0 %>
                <div class="mag-box wide-post-box">
                    <div class="container-wrapper">
                        <div class="mag-box-container clearfix">
                            <ul id="posts-container" data-layout="default" data-settings="{'uncropped_image':'jannah-image-post','category_meta':true,'post_meta':true,'excerpt':'true','excerpt_length':'20','read_more':'true','read_more_text':false,'media_overlay':true,'title_length':0,'is_full':false,'is_category':false}" class="posts-items">
                                <% @articles.each do |article| %>
                                    <li class="post-item  post type-post status-publish format-standard has-post-thumbnail category-tie-life-style tag-foods tie-video">
                                        <a aria-label="<%= article.get_name %>" href="<%= article_detail_link(article) %>" title="<%= article.get_name %>" class="post-thumb">
                                            <span class="post-cat-wrap"><span class="post-cat tie-cat-19"><%= article.get_category_name %></span></span>
                                            <div class="post-thumb-overlay-wrap">
                                                <div class="post-thumb-overlay">
                                                    <span class="tie-icon tie-media-icon"></span>
                                                </div>
                                            </div>
                                            <img width="390" height="220" src="<%= article.image.listing %>" class="attachment-jannah-image-large size-jannah-image-large wp-post-image" alt="" title="<%= article.get_name %>" loading="lazy" />
                                        </a>
                                        <div class="post-details">
                                            <div class="post-meta clearfix">
                                                <% if article.author.present? %>
                                                    <span class="author-meta single-author no-avatars">
                                                        <span class="meta-item meta-author-wrapper meta-author-1">
                                                            <span class="meta-author">
                                                                <%= link_to article.get_author_name, author_link(article.author), title: article.get_author_name, class: 'author-name tie-icon' %>
                                                            </span>
                                                        </span>
                                                    </span>
                                                <% end %>
                                                <span class="date meta-item tie-icon"><%= article.date_public.strftime("%d-%m-%Y") %></span>
                                            </div>
                                            <h2 class="post-title text-justify">
                                                <%= link_to article.get_name, article_detail_link(article), title: article.get_name %>
                                            </h2>
                                            <p class="post-excerpt text-justify"><%= truncate(article.meta_description, length: 160) %></p>
                                            <%= link_to 'Đọc tiếp ... &raquo;'.html_safe, article_detail_link(article), title: article.get_name, class: 'more-link button' %>
                                        </div>
                                    </li>
                                <% end %>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <% if @articles.count > 20 %>
                    <div class="pages-nav">
                        <%= will_paginate @articles, previous_label: '&laquo;'.html_safe, next_label: '&raquo;'.html_safe, renderer: BootstrapPagination::Rails, inner_window: 1, outer_window: 1 %>
                    </div>
                <% end %>
            <% end %>
        </div>
        <%= render 'layouts/erp/frontend/sidebar' %>
    </div>
</div>