<% title @article.get_name %>
<% content_for :metas do %>
<meta property="og:locale" content="vi" />
<meta property="og:type" content="website"/>
<meta property="og:title" content="<%= @article.get_name %>"/>
<% if @article.meta_description.present? %><meta property="og:description" content="<%= @article.meta_description %>"/><% else %><meta property="og:description" content="Trang tin Phật Sự Online cập nhật những thông tin, hình ảnh, hoạt động Ban ngành, hoạt động Phật Sự tại huyện Định Quán, tỉnh Đồng Nai."/><% end %>
<meta property="og:url" content="https://phatgiaodinhquan.org<%= article_link(@article) %>"/>
<meta property="og:site_name" content="Phật Giáo Định Quán" />
<% if @article.image.present? %><meta property="og:image" content="<%= @article.image.detail %>"/><% else %><meta property="og:image" content="https://phatgiaodinhquan.org/img/social-share.jpg"/><% end %>
<meta property="og:image:alt" content="<%= @article.get_name %>"/>
<% if @article.image.present? %>
<meta property="og:image:width" content="780"/>
<meta property="og:image:height" content="470"/>
<% else %>
<meta property="og:image:width" content="1200"/>
<meta property="og:image:height" content="560"/>
<% end %>

<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="https://phatgiaodinhquan.org<%= article_link(@article) %>"/>
<meta name="twitter:title" content="<%= @article.get_name %>" />
<% if @article.meta_description.present? %><meta name="twitter:description" content="<%= @article.meta_description %>"/><% else %><meta name="twitter:description" content="Trang tin Phật Sự Online cập nhật những thông tin, hình ảnh, hoạt động Ban ngành, hoạt động Phật Sự tại huyện Định Quán, tỉnh Đồng Nai."/><% end %>
<% if @article.image.present? %><meta name="twitter:image" content="<%= @article.image.detail %>"/><% else %><meta name="twitter:image" content="https://phatgiaodinhquan.org/img/social-share.jpg"/><% end %>
<meta name="twitter:image:alt" content="<%= @article.get_name %>"/>
<% end %>

<%= stylesheet_link_tag '/css/style.min.css' %>
<%= stylesheet_link_tag '/css/single.min.css' %>
<%= stylesheet_link_tag '/css/shortcodes.min.css' %>
<%= stylesheet_link_tag '/css/taqyeem.min.css' %>
<%= stylesheet_link_tag '/css/taqyeem-buttons-style.css' %>
<div id="content" class="site-content container">
<div class="tie-row main-content-row">
   <div class="main-content tie-col-md-8 tie-col-xs-12" role="main">
      <article id="the-post" class="container-wrapper post-content tie-standard">
         <header class="entry-header-outer">
            <nav id="breadcrumb">
               <a href="<%= erp_pgdq.root_path %>" title="Quay về trang chủ"><span class="fa fa-home" aria-hidden="true"></span> Trang Chủ</a>
               <em class="delimiter"><span class="fa fa-angle-right"></span></em></em><a href="<%= category_link(@category) %>"><%= @category.get_name %></a>
               <em class="delimiter"><span class="fa fa-angle-right"></span></em><span class="current"><%= truncate(@article.get_name, length: 70) %></span>
            </nav>
            <div class="entry-header">
               <h1 class="post-title entry-title"><%= @article.get_name %></h1>
               <div id="single-post-meta" class="post-meta clearfix">
                  <% if @article.date_public.present? %><span class="date meta-item tie-icon"><strong>Ngày đăng: </strong><%= @article.date_public.strftime("%A, %d/%m/%Y") %></span><% end %>
                  <span class="meta-item last-updated"><strong>Ngày cập nhật: </strong><%= @article.updated_at.strftime("%A, %d/%m/%Y") %></span>
               </div>
            </div>
         </header>
         <div class="featured-area">
            <div class="featured-area-inner">
               <figure class="single-featured-image">
                  <img width="780" height="470" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAYYAAADcAQMAAABOLJSDAAAAA1BMVEUAAACnej3aAAAAAXRSTlMAQObYZgAAACJJREFUaIHtwTEBAAAAwqD1T20ND6AAAAAAAAAAAAAA4N8AKvgAAUFIrrEAAAAASUVORK5CYII="
                       class="attachment-jannah-image-post size-jannah-image-post lazy-img wp-post-image"
                       alt="<%= @article.get_name %>" title="<%= @article.get_name %>" loading="lazy"
                       data-src="<%= @article.image.detail %>" />
               </figure>
            </div>
         </div>
         <div class="entry-content text-justify entry clearfix"><%= @article.content.html_safe %></div>
         <div class="post-footer post-footer-on-bottom">
            <div class="share-links share-centered icons-only">
               <div class="share-title"><span class="fa fa-share-alt" aria-hidden="true"></span><span>Chia sẻ bài viết</span></div>
               <a href="javascript:void(0)" rel="external noopener" target="_blank" class="facebook-share-btn"><span class="fa fa-facebook"></span><span class="screen-reader-text">Facebook</span></a>
               <a href="javascript:void(0)" rel="external noopener" target="" class="twitter-share-btn"><span class="fa fa-twitter"></span><span class="screen-reader-text">Twitter</span></a>
               <a href="javascript:void(0)" rel="external noopener" target="" class="linkedin-share-btn"><span class="fa fa-linkedin"></span><span class="screen-reader-text">LinkedIn</span></a>
               <a href="javascript:void(0)" rel="external noopener" target="" class="tumblr-share-btn"><span class="fa fa-tumblr"></span><span class="screen-reader-text">Tumblr</span></a>
               <a href="javascript:void(0)" rel="external noopener" target="" class="pinterest-share-btn"><span class="fa fa-pinterest"></span><span class="screen-reader-text">Pinterest</span></a>
               <a href="javascript:void(0)" rel="external noopener" target="" class="reddit-share-btn"><span class="fa fa-reddit"></span><span class="screen-reader-text">Reddit</span></a>
               <a href="javascript:void(0)" rel="external noopener" target="" class="email-share-btn"><span class="fa fa-envelope"></span><span class="screen-reader-text">Chia sẻ email</span></a>
            </div>
         </div>
      </article>
      <!--<div class="post-components">
         <div id="related-posts" class="container-wrapper has-extra-post">
            <div class="mag-box-title the-global-title">
               <h3>Related Articles</h3>
            </div>
            <div class="related-posts-list">
               <% (0..6).each do |article| %>
               <div class="related-item tie-video">
                  <a aria-label="" href="" class="post-thumb">
                     <img width="390" height="220" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAYYAAADcAQMAAABOLJSDAAAAA1BMVEUAAACnej3aAAAAAXRSTlMAQObYZgAAACJJREFUaIHtwTEBAAAAwqD1T20ND6AAAAAAAAAAAAAA4N8AKvgAAUFIrrEAAAAASUVORK5CYII=" class="attachment-jannah-image-large size-jannah-image-large lazy-img wp-post-image" alt="Photo of The only thing that overcomes hard luck is hard work" loading="lazy" data-src="/img/tmp/7040731-cam-newton-390x220.jpg" />
                  </a>
                  <h3 class="post-title">
                     <a href="">The only thing that overcomes hard luck is hard work</a>
                  </h3>
                  <div class="post-meta clearfix"><span class="date meta-item fa-before">Oct 20, 2016</span></div>
               </div>
               <% end %>
            </div>
         </div>
      </div>-->
   </div>
   <%= stylesheet_link_tag '/css/widgets.min.css' %>
   <aside class="sidebar tie-col-md-4 tie-col-xs-12 normal-side is-sticky" aria-label="">
      <%= render 'erp/pgdq/frontend/modules/sidebar' %>
   </aside>
</div>
</div>
