<table class="table table-advance table-hover table-striped table-checkable order-column">
    <thead>
        <tr>
            <th width='1%'><%= erp_datalist_check_all %></th>
            <% if get_columns(params).include?("name") %>
                <th class="text-left" width='40%'><%= t('.name') %></th>
            <% end %>
            <% if get_columns(params).include?("category") %>
                <th class="text-center" width='25%'><%= t('.category') %></th>
            <% end %>
            <% if get_columns(params).include?("status") %>
                <th class="text-center"><%= t('status') %></th>
            <% end %>
            <% if get_columns(params).include?("creator") %>
                <th class="text-center"><%= t('creator') %></th>
            <% end %>
            <% if get_columns(params).include?("created_at") %>
                <th class="text-center"><%= t('created_at') %></th>
            <% end %>
            <th class="text-right" width="7%"><%= t('actions') %></th>
        </tr>
    </thead>
    <tbody>
        <% @articles.each do |article| %>
            <tr class="odd gradeX">
                <td><%= erp_datalist_check_row(id: article.id) %></td>
                <% if get_columns(params).include?("name") %>
                    <td class="text-left">
                        <%= link_to article.get_name, erp_pgdq.edit_backend_article_path(article), class: 'title', title: article.get_name %>
                        <% if article.alias.present? %><br><strong>alias: </strong><em><%= article.alias %></em><% end %>
                    </td>
                <% end %>
                <% if get_columns(params).include?("name") %>
                    <td class="text-center"><%= article.get_full_category_name %></td>
                <% end %>
                <% if get_columns(params).include?("status") %>
                    <td class="text-center">
                        <% if article.is_slider == true %>
                            <br>
                            <span class="label bg-primary">
                                <%= t('.article_is_slider') %>
                            </span>
                        <% end %>
                    </td>
                <% end %>
                <% if get_columns(params).include?("creator") %>
                    <td class="text-center"><%= erp_component('avatar', { user: article.creator }) %></td>
                <% end %>
                <% if get_columns(params).include?("created_at") %>
                    <td class="text-center">
                        <% if article.date_public.present? %>
                            <%= article.date_public.strftime("%d-%m-%Y") %>
                        <% end %>
                    </td>
                <% end %>                
                <td class="text-right">
                    <div class="btn-group">
                        <a class="btn btn-default btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <i class="fa fa-cog"></i><%= t('core.options') %><i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <%= link_to '<i class="fa fa-edit"></i>'.html_safe + t('.edit'), 
                                    erp_pgdq.edit_backend_article_path(article) %>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <%= link_to '<i class="fa fa-trash"></i>'.html_safe + t('.delete'), 
                                    erp_pgdq.backend_article_path(article), method: 'DELETE', data: {confirm: t('delete_confirm')}, class: 'ajax-link' %>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>

<% if @articles.empty? %><div class="datalist-empty-line"><%= t('.no_matching_records_found') %></div><% end %>
<%= erp_datalist_pagination(@articles) %>