<% content_for :metas do %>
<meta property="og:locale" content="vi" />
<meta property="og:type" content="website"/>
<meta property="og:title" content="Phật Giáo Định Quán | Trang Tin Phật Sự Online Huyện Định Quán"/>
<meta property="og:description" content="Trang tin Phật Sự Online cập nhật những thông tin, hình ảnh, hoạt động Ban ngành, hoạt động Phật Sự tại huyện Định Quán, tỉnh Đồng Nai."/>
<meta property="og:url" content="https://phatgiaodinhquan.org/"/>
<meta property="og:site_name" content="Phật Giáo Định Quán" />
<meta property="og:image" content="https://phatgiaodinhquan.org/img/social-share.jpg"/>
<meta property="og:image:alt" content="Phật Giáo Định Quán"/>
<meta property="og:image:width" content="1200"/>
<meta property="og:image:height" content="560"/>

<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="https://phatgiaodinhquan.org/"/>
<meta name="twitter:title" content="Phật Giáo Định Quán | Trang Tin Phật Sự Online Huyện Định Quán" />
<meta name="twitter:description" content="Trang tin Phật Sự Online cập nhật những thông tin, hình ảnh, hoạt động Ban ngành, hoạt động Phật Sự tại huyện Định Quán, tỉnh Đồng Nai."/>
<meta name="twitter:image" content="https://phatgiaodinhquan.org/img/social-share.jpg"/>
<% end %>
<%= stylesheet_link_tag '/css/style.min.css' %>
<h1 class="h1-off">Giáo Hội Phật Giáo Việt Nam Huyện Định Quán, Tỉnh Đồng Nai</h1>
<% if @slide_articles.count > 0 %>
<div id="tiepost-2487-section-1114" class="section-wrapper container-full without-background">
    <div class="section-item is-first-section full-width">
        <div class="container">
            <div class="tie-row main-content-row">
                <div class="main-content tie-col-md-12">
                    <section id="tie-block_2068" class="slider-area mag-box">
                        <div id="tie-main-slider-14-block_2068" class="tie-main-slider main-slider grid-5-first-big grid-5-slider boxed-slider grid-slider-wrapper tie-slick-slider-wrapper" data-slider-id="14" data-speed="3000">
                            <div class="main-slider-inner">
                                <div class="containerblock_2068">
                                    <div class="tie-slick-slider">
                                        <ul class="tie-slider-nav"></ul>
                                        <div class="slide">
                                            <% @slide_articles.each do |article| %>
                                            <div class="grid-item lazy-bg slide-id-1959 tie-slide-1 is-trending">
                                                <img data-lazy="<%= article.image.detail %>" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKYAAABkCAMAAAA7drv6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF////AAAAVcLTfgAAAAF0Uk5TAEDm2GYAAAAqSURBVHja7MEBDQAAAMKg909tDjegAAAAAAAAAAAAAAAAAAAAAH5NgAEAQTwAAWZtItYAAAAASUVORK5CYII="
                                                     width="780" height="470" alt="<%= article.get_name %>" title="<%= article.get_name %>">
                                                <div class="slide-bg"></div>
                                                <a href="<%= article_link(article) %>" class="all-over-thumb-link" aria-label="<%= article.get_name %>" title="<%= article.get_name %>"></a> 
                                                <div class="thumb-overlay">
                                                    <span class="post-cat-wrap"><%= link_to article.get_category_name, category_link(article.category), title: article.get_category_name, class: 'post-cat' %></span>
                                                    <div class="thumb-content">
                                                        <div class="thumb-meta">
                                                            <span class="trending-post fa fa-bolt " aria-hidden="true"></span>
                                                            <span class="date meta-item fa-before"><%= article.created_at.strftime("%A, %d/%m/%Y") %></span>
                                                        </div>
                                                        <h2 class="thumb-title"><%= link_to truncate(article.get_name, length: 70), article_link(article), title: article.get_name %></h2>
                                                        <div class="thumb-desc text-justify"><%= truncate(article.meta_description, length: 200) %></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
<% end %>
<div id="tiepost-2487-section-2226" class="section-wrapper container normal-width without-background">
    <div class="section-item sidebar-right has-sidebar">
        <div class="container-normal">
            <div class="tie-row main-content-row">
                <!-- @start_todo --><!-- @end_todo -->
                <%= stylesheet_link_tag '/css/widgets.min.css' %>
            </div>
        </div>
    </div>
</div>