<% content_for :title do %><%= @category.get_name %><% end %>
<% content_for :page_title do %>    
    <a href="<%= erp_pgdq.backend_categories_path %>">
        <i class="fa fa-rss"></i>  <%= t('.categories') %>
    </a> / <%= @category.get_name %>
<% end %>
<% content_for :page_toolbar do %>
    <%= erp_component('button/create', {
        text: t('.create'),
        href: erp_pgdq.new_backend_category_path,
        class: 'btn-noborder'
    }) %>
<% end %>
<div class="row">
    <div class="col-md-12">
        <% if @category.errors.any? %><%= erp_form_control("form_error_message") %><% end %>
        <%= render 'form', category: @category %>
    </div>
</div>