<table class="table table-advance table-hover table-striped table-checkable order-column">
    <thead>
        <tr>
            <th width='1%'><%= erp_datalist_check_all %></th>
            <% if get_columns(params).include?("image") %>
                <th class="text-left" width='15%'><%= t('image') %></th>
            <% end %>
            <% if get_columns(params).include?("name") %>
                <th class="text-center" width='40%'><%= t('.name') %></th>
            <% end %>
            <% if get_columns(params).include?("status") %>
                <th class="text-center"><%= t('status') %></th>
            <% end %>
            <% if get_columns(params).include?("creator") %>
                <th class="text-center"><%= t('creator') %></th>
            <% end %>
            <% if get_columns(params).include?("created_at") %>
                <th class="text-center"><%= t('created_at') %></th>
            <% end %>
            <th width="7%" class="sortable text-nowrap text-center" sort-by='erp_pgdq_categories.custom_order'>
                <%= t('.custom_order') %>                
            </th>
            <th class="text-right" width="7%"><%= t('actions') %></th>
        </tr>
    </thead>
    <tbody>
        <% @categories.each do |category| %>
            <tr class="odd gradeX">
                <td><%= erp_datalist_check_row(id: category.id) %></td>
                <% if get_columns(params).include?("image") %>
                    <td class="text-left">
                        <% if !category.image.nil? %><img class="image-datalist" src="<%= category.image.system %>"><% end %>
                    </td>
                <% end %>
                <% if get_columns(params).include?("name") %>
                    <td class="text-left">
                        <%= link_to category.get_full_name, erp_pgdq.edit_backend_category_path(category), class: 'title', title: category.get_full_name %>
                        <% if category.alias.present? %><br><strong>alias: </strong><em><%= category.alias %></em><% end %>
                        <% if category.title_name.present? %><br><em><strong>Tiêu đề trang (<%= category.get_title_name.length %>): </strong><%= category.get_title_name %></em><% end %>
                    </td>
                <% end %>
                <% if get_columns(params).include?("status") %>
                    <td class="text-center">
                        <% if category.archived == true %>
                            <span class="label label-sm label-danger"><%= t('archived') %></span>
                        <% else %>
                            <span class="label label-sm label-success"><%= t('active') %></span>
                        <% end %>
                    </td>
                <% end %>
                <% if get_columns(params).include?("creator") %>
                    <td class="text-center">
                        <% if !category.creator.nil? %>
                            <div class="userpic">
                                <div class="list-userpic">
                                    <% if category.creator.avatar.present? %><%= image_tag category.creator.avatar.system, class: "img-circle",
                                                                                 alt: category.creator.email,
                                                                                 title: category.creator.name + " (" + category.creator.email + ")" %>
                                    <% else %><%= image_tag "/backend/img/placeholder.jpg", class: "img-circle",
                                                  alt: category.creator.email,
                                                  title: category.creator.name + " (" + category.creator.email + ")" %>
                                    <% end %>
                                </div>
                                <div class="list-usertitle">
                                    <div class="list-usertitle-name" title="<%= category.creator.name + " (" + category.creator.email + ")" %>">
                                        <%= user_short_name(category.creator.name) %>
                                    </div>
                                </div>
                            </div>
                        <% else %>
                            <div class="userpic">
                                <div class="list-userpic"><img class="img-circle" src="/backend/img/placeholder.jpg"></div>
                                <div class="list-usertitle">
                                    <div class="list-usertitle-name"><%= t("no_creator") %></div>
                                </div>
                            </div>
                        <% end %>
                    </td>
                <% end %>
                <% if get_columns(params).include?("created_at") %>
                    <td class="text-center"><%= category.created_at.strftime("%d-%m-%Y") %></td>
                <% end %>
                <td class="text-center text-semibold">
                    <%= category.custom_order %>
                    <% if params[:sort_by] == 'erp_pgdq_categories.custom_order' %>
                        <a data-method="PUT" 
                           href="<%= params[:sort_direction] == 'asc' ? erp_pgdq.move_up_backend_categories_path(id: category) : erp_pgdq.move_down_backend_categories_path(id: category) %>"
                           class="ajax-link">
                           <i class="fa fa-caret-square-o-up icon-big"></i>
                        </a>
                        <a data-method="PUT"
                           href="<%= params[:sort_direction] == 'asc' ? erp_pgdq.move_down_backend_categories_path(id: category) : erp_pgdq.move_up_backend_categories_path(id: category) %>"
                           class="ajax-link">
                           <i class="fa fa-caret-square-o-down icon-big"></i>
                        </a>
                    <% end %>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <a class="btn btn-default btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <i class="fa fa-cog"></i><%= t('core.options') %><i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><%= link_to '<i class="fa fa-edit"></i>'.html_safe + t('.edit'), 
                                    erp_pgdq.edit_backend_category_path(category) %></li>
                            <li class="divider"></li>
                            <% if !category.archived %>
                                <li>
                                    <%= link_to '<i class="fa fa-eye-slash"></i> '.html_safe + t('archive'), 
                                        erp_pgdq.archive_backend_categories_path(id: category),
                                        method: 'PUT', data: {confirm: t('.archive_confirm')}, class: 'ajax-link' %>
                                </li>
                            <% else %>
                                <li>
                                    <%= link_to '<i class="fa fa-eye"></i> '.html_safe + t('unarchive'), 
                                        erp_pgdq.unarchive_backend_categories_path(id: category),
                                        method: 'PUT', data: {confirm: t('.unarchive_confirm')}, class: 'ajax-link' %>
                                </li>
                            <% end %>
                            <li><%= link_to '<i class="fa fa-trash"></i>'.html_safe + t('.delete'), 
                                    erp_pgdq.backend_category_path(category), method: 'DELETE', data: {confirm: t('delete_confirm')}, class: 'ajax-link' %></li>
                        </ul>
                    </div>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
<% if @categories.empty? %><div class="datalist-empty-line"><%= t('.no_matching_records_found') %></div><% end %>
<%= erp_datalist_pagination(@categories) %>