<table class="table table-advance table-hover table-striped table-checkable order-column">
    <thead>
        <tr>
            <th width='1%'><%= erp_datalist_check_all %></th>
            <% if get_columns(params).include?("name") %>
                <th class="text-left" width='40%'><%= t('.name') %></th>
            <% end %>
            <% if get_columns(params).include?("status") %>
                <th class="text-center"><%= t('status') %></th>
            <% end %>
            <% if get_columns(params).include?("creator") %>
                <th class="text-center"><%= t('creator') %></th>
            <% end %>
            <% if get_columns(params).include?("created_at") %>
                <th class="text-center"><%= t('created_at') %></th>
            <% end %>
            <th width="7%" class="sortable text-nowrap text-center" sort-by='erp_pgdq_categories.custom_order'>
                <%= t('.custom_order') %>                
            </th>
            <th class="text-right" width="7%"><%= t('actions') %></th>
        </tr>
    </thead>
    <tbody>
        <% @categories.each do |category| %>
            <tr class="odd gradeX">
                <td><%= erp_datalist_check_row(id: category.id) %></td>
                <% if get_columns(params).include?("name") %>
                    <td class="text-left">
                        <%= link_to category.get_full_name, erp_pgdq.edit_backend_category_path(category), class: 'title', title: category.get_full_name %>
                        <% if category.alias.present? %><br><strong>alias: </strong><em><%= category.alias %></em><% end %>
                    </td>
                <% end %>
                <% if get_columns(params).include?("status") %>
                    <td class="text-center">
                        <% if category.archived == true %>
                            <%= erp_component('label/danger', {
                                text: t('.archived')
                            }) %>                            
                        <% else %>
                            <%= erp_component('label/success', {
                                text: t('.active')
                            }) %>
                        <% end %>
                    </td>
                <% end %>
                <% if get_columns(params).include?("creator") %>
                    <td class="text-center">
                        <%= erp_component('avatar', {
                            user: category.creator
                        }) %>
                    </td>
                <% end %>
                <% if get_columns(params).include?("created_at") %>
                    <td class="text-center"><%= category.created_at.strftime("%d-%m-%Y") %></td>
                <% end %>
                <td class="text-center text-semibold">
                    <%= category.custom_order %>
                    <% if params[:sort_by] == 'erp_pgdq_categories.custom_order' %>
                        <a data-method="PUT"
                            href="<%=
                                params[:sort_direction] == 'asc' ?
                                erp_pgdq.move_up_backend_categories_path(id: category) :
                                erp_pgdq.move_down_backend_categories_path(id: category)
                            %>"
                            class="ajax-link">
                            <i class="fa fa-caret-square-o-up icon-big"></i>
                        </a>
                        <a data-method="PUT"
                            href="<%=
                                params[:sort_direction] == 'asc' ?
                                erp_pgdq.move_down_backend_categories_path(id: category) :
                                erp_pgdq.move_up_backend_categories_path(id: category)
                            %>"
                            class="ajax-link">
                            <i class="fa fa-caret-square-o-down icon-big"></i>
                        </a>
                    <% end %>
                </td>
                <td class="text-right">
                    <%= erp_datalist_row_actions(
                        [
                            {
                                text: '<i class="fa fa-edit"></i> '+t('.edit'),
                                href: erp_pgdq.edit_backend_category_path(category)
                            },
                            {
                                text: '<i class="fa fa-remove"></i> '+t('.archive'),
                                url: erp_pgdq.archive_backend_categories_path(id: category.id),
                                data_method: 'PUT',
                                hide: category.archived,
                                class: 'ajax-link'
                            },
                            {
                                text: '<i class="fa fa-check"></i> '+t('.unarchive'),
                                url: erp_pgdq.unarchive_backend_categories_path(id: category.id),
                                data_method: 'PUT',
                                hide: !category.archived,
                                class: 'ajax-link'
                            },
                            {
                                divider: true
                            },
                            {
                                text: '<i class="fa fa-trash"></i> '+t('.delete'),
                                url: erp_pgdq.backend_category_path(category),
                                data_method: 'DELETE',
                                class: 'ajax-link',
                                data_confirm: t('delete_confirm')
                            }
                        ]
                    ) %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
<% if @categories.empty? %><div class="datalist-empty-line"><%= t('.no_matching_records_found') %></div><% end %>
<%= erp_datalist_pagination(@categories) %>