<% content_for :metas do %>
<meta property="og:locale" content="vi" />
<meta property="og:type" content="website"/>
<meta property="og:title" content="<%= @category.get_name %> | Phật Giáo Định Quán"/>
<% if @category.meta_description.present? %><meta property="og:description" content="<%= @category.meta_description %>"/><% else %><meta property="og:description" content="Giáo hội phật giáo Việt Nam Ban trị sự Huyện Định Quán là trang tin điện tử cập nhật liên tục tin tức Phật giáo huyện Định Quán, Phật giáo tỉnh Đồng Nai và Phật giáo Việt Nam."/><% end %>
<meta property="og:url" content="https://phatgiaodinhquan.org<%= category_link(@category) %>"/>
<meta property="og:site_name" content="Phật Giáo Định Quán" />
<meta property="og:image" content="https://phatgiaodinhquan.org/img/events/phat-giao-dinh-quan-share.jpg"/>
<meta property="og:image:alt" content="<%= @category.get_name %> | Phật Giáo Định Quán"/>
<meta property="og:image:width" content="1200"/>
<meta property="og:image:height" content="560"/>

<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="https://phatgiaodinhquan.org<%= category_link(@category) %>"/>
<meta name="twitter:title" content="<%= @category.get_name %> | Phật Giáo Định Quán" />
<% if @category.meta_description.present? %><meta name="twitter:description" content="<%= @category.meta_description %>"/><% else %><meta name="twitter:description" content="Giáo hội phật giáo Việt Nam Ban trị sự Huyện Định Quán là trang tin điện tử cập nhật liên tục tin tức Phật giáo huyện Định Quán, Phật giáo tỉnh Đồng Nai và Phật giáo Việt Nam."/><% end %>
<meta name="twitter:image" content="https://phatgiaodinhquan.org/img/events/phat-giao-dinh-quan-share.jpg"/>
<% end %>

<%= stylesheet_link_tag '/css/style.min.css' %>
<%= stylesheet_link_tag '/css/shortcodes.min.css' %>
<div id="content" class="site-content container">
<div class="tie-row main-content-row">
    <div class="main-content tie-col-md-8 tie-col-xs-12" role="main">
        <header class="entry-header-outer container-wrapper">
            <nav id="breadcrumb">
                <a href="<%= erp_pgdq.root_path %>"><span class="fa fa-home" aria-hidden="true"></span> Trang Chủ</a>
                <% if !@category.parent.nil? %>
                <em class="delimiter">/</em><span class="current"><%= @category.parent.get_name %></span>
                <% end %>
                <em class="delimiter">/</em><span class="current"><%= @category.get_name %></span>
            </nav>
            <script type="application/ld+json"></script>
            <h1 class="page-title"><%= @category.get_name %></h1>
            <% if @category.content.present? %><div class="taxonomy-description entry text-justify"><p><%= @category.content.html_safe %></p></div><% end %>
        </header>
        <div class="mag-box wide-post-box">
            <div class="container-wrapper">
                <div class="mag-box-container clearfix">
                    <ul id="posts-container" data-layout="default" data-settings="{'uncropped_image':'jannah-image-post','category_meta':false,'post_meta':true,'excerpt':true,'excerpt_length':'20','read_more':true,'media_overlay':false,'title_length':0,'is_full':false,'is_category':true}" class="posts-items">                        
                        <%  @articles.each do |article| %>
                        <li class="post-item post type-post status-publish format-standard has-post-thumbnail category-life-style category-travel tag-life-style tie-standard">
                            <a aria-label="<%= article.get_name %>" title="<%= article.get_name %>" href="<%= article_link(article) %>" class="post-thumb">
                                <img width="390" height="220" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAYYAAADcAQMAAABOLJSDAAAAA1BMVEUAAACnej3aAAAAAXRSTlMAQObYZgAAACJJREFUaIHtwTEBAAAAwqD1T20ND6AAAAAAAAAAAAAA4N8AKvgAAUFIrrEAAAAASUVORK5CYII="
                                     class="attachment-jannah-image-large size-jannah-image-large lazy-img wp-post-image" title="<%= article.get_name %>"
                                     alt="<%= article.get_name %>" loading="lazy" data-src="<%= article.image.listing  %>" />
                            </a>
                            <div class="post-details">
                                <div class="post-meta clearfix">
                                    <span class="single-author no-avatars">
                                        <span class="meta-item meta-author-wrapper">
                                            <span class="meta-author">
                                                <a href="<%= category_link(article.category) %>" class="author-name" title="<%= article.get_category_name %>">
                                                    <span class="fa fa-user" aria-hidden="true"></span> <%= article.get_category_name %>
                                                </a>
                                            </span>
                                        </span>
                                    </span>
                                    <span class="date meta-item fa-before"><%= article.created_at.strftime("%A, %d/%m/%Y") %></span>
                                </div>
                                <h2 class="post-title text-justify"><%= link_to truncate(article.get_name, length: 70), article_link(article), title: article.get_name %></h2>
                                <p class="post-excerpt text-justify"><%= truncate(article.meta_description, length: 200) %></p>
                                <a class="more-link button" href="<%= article_link(article) %>">Đọc tiếp...</a>
                            </div>
                        </li>
                        <% end %>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!--<div class="pages-nav">
            <div class="pages-numbers pages-standard">
                <span class="first-page first-last-pages"></span>
                <span class="last-page first-last-pages">
                    <a href=""><span class="fa" aria-hidden="true"></span>Trang 2</a>
                </span>
            </div>
        </div>-->
    </div>
    <%= stylesheet_link_tag '/css/widgets.min.css' %>
    <aside class="sidebar tie-col-md-4 tie-col-xs-12 normal-side is-sticky" aria-label="">
        <%= render 'erp/pgdq/frontend/modules/sidebar' %>
    </aside>
    </div>
</div>