<footer id="footer" class="site-footer dark-skin dark-widgetized-area">
    <div id="footer-widgets-container">
        <div class="container">
            <div class="footer-widget-area ">
                <div class="tie-row">
                    <div class="tie-col-md-3 normal-side">
                        <div class="container-wrapper widget posts-list">
                            <div class="widget-title the-global-title">
                                <div class="the-subtitle">Hoạt Động Phật Sự Mới<span class="widget-title-icon fa"></span></div>
                            </div>
                            <div class="timeline-widget">
                                <ul class="posts-list-items">
                                    <% Erp::Pgdq::Category.find(2).get_articles_for_categories(params).limit(3).each do |article| %>
                                    <li><a href="<%= article_link(article) %>" title="<%= article.get_name %>">
                                        <span class="date meta-item fa-before"><%= article.created_at.strftime("%A, %d/%m/%Y") %></span> 
                                        <h3><%= truncate(article.get_name, length: 70) %></h3>
                                    </a></li>
                                    <% end %>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="tie-col-md-3 normal-side">
                        <div class="container-wrapper widget posts-list">
                            <div class="widget-title the-global-title">
                                <div class="the-subtitle">Hoạt Động Ban Ngành Mới<span class="widget-title-icon fa"></span></div>
                            </div>
                            <div class="timeline-widget">
                                <ul class="posts-list-items">
                                    <% Erp::Pgdq::Category.find(3).get_articles_for_categories(params).limit(3).each do |article| %>
                                    <li><a href="<%= article_link(article) %>" title="<%= article.get_name %>">
                                        <span class="date meta-item fa-before"><%= article.created_at.strftime("%A, %d/%m/%Y") %></span> 
                                        <h3><%= truncate(article.get_name, length: 70) %></h3>
                                    </a></li>
                                    <% end %>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="tie-col-md-3 normal-side">
                        <div class="container-wrapper widget posts-list">
                            <div class="widget-title the-global-title">
                                <div class="the-subtitle">Văn Bản Mới<span class="widget-title-icon fa"></span></div>
                            </div>
                            <div class="timeline-widget">
                                <ul class="posts-list-items">
                                    <% Erp::Pgdq::Category.find(4).get_articles_for_categories(params).limit(3).each do |article| %>
                                    <li><a href="<%= article_link(article) %>" title="<%= article.get_name %>">
                                        <span class="date meta-item fa-before"><%= article.created_at.strftime("%A, %d/%m/%Y") %></span> 
                                        <h3><%= truncate(article.get_name, length: 70) %></h3>
                                    </a></li>
                                    <% end %>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>                    
                    <div class="tie-col-md-3 normal-side">
                        <div class="container-wrapper widget widget_tag_cloud">
                            <div class="widget-title the-global-title">
                                <div class="the-subtitle">Tags Phật Giáo Định Quán<span class="widget-title-icon fa"></span></div>
                            </div>
                            <div class="tagcloud">
                                <a href="">đại lễ phật đản</a>
                                <a href="">đại lễ vu lan</a>
                                <a href="">phật sự định quán</a>
                                <a href="">phật sự đồng nai</a>
                                <a href="">phật sự 2564</a>
                                <a href="">phật sự 2020</a>
                                <a href="">tài liệu phật học</a>
                                <a href="">video thuyết giảng</a>
                                <a href="">ti tức phật sự</a>
                                <a href="">bts định quán</a>
                                <a href="">bts phật giáo huyện định quán</a>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-widget-area ">
                <div class="tie-row">
                    <div class="tie-col-sm-4 normal-side">
                        <div id="author-bio-widget-4" class="container-wrapper widget aboutme-widget">
                            <div class="about-author about-content-wrapper">
                                <img alt="Phật Giáo Định Quán" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAKCAYAAADVTVykAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB9JREFUeNpi/P//P8NAAiaGAQajDhh1wKgDRh0AEGAAQTcDEcKDrpMAAAAASUVORK5CYII=" data-src="/img/logo-lite@2x.png" style="margin-top: 20px; margin-bottom: 0px;width: 320px; " class="about-author-img lazy-img" width="280" height="47">
                                <div class="aboutme-widget-content"></div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="tie-col-sm-8 normal-side text-center">
                        <div id="author-bio-widget-6" class="container-wrapper widget aboutme-widget">
                            <div class="about-author about-content-wrapper">
                                <div class="aboutme-widget-content">
                                    <h4>GIÁO HỘI PHẬT GIÁO VIỆT NAM HUYỆN ĐỊNH QUÁN</h4>
                                    <br><strong>Văn phòng: </strong> Huyện Định Quán, Tỉnh Đồng Nai, Việt Nam
                                    <br><strong>Chịu trách nhiệm nội dung: </strong> 
                                    <br><strong>Email gửi bài: </strong> <%= mail_to 'phatgiaodinhquan.org@gmail.com', 'phatgiaodinhquan.org@gmail.com', title: 'Phật Giáo Định Quán' %> - <strong>SĐT: </strong>
                                    <br><strong>Hỗ trợ kỹ thuật: </strong> Phật tử Nguyễn Ngọc Sơn - <strong>Facebook: <%= link_to 'Truy cập tại đây', 'https://www.facebook.com/sonnn0811/', title: 'Truy cập tại đây', target: '_blank', rel: 'external noopener nofollow' %></strong> 
                                    <br><em>Xem tốt tại mọi thiết bị và trình duyệt.</em>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
    <div class="site-info site-info-layout-2">
        <div class="container">
            <div class="tie-row">
                <div class="tie-col-md-12">
                    <div class="copyright-text copyright-text-first">&copy; Copyright 2020 Phật Giáo Định Quán. All Rights Reserved.</div>
                    <div class="footer-menu">
                        <ul class="menu">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="">Trang Chủ</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="">Tin tức</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="">Văn bản</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="">Phật học</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="">Tự viện</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>