<footer id="footer" class="site-footer dark-skin dark-widgetized-area">
    <div id="footer-widgets-container">
        <div class="container">
            <div class="footer-widget-area ">
                <div class="tie-row">
                    <div class="tie-col-md-3 normal-side">
                        <div class="container-wrapper widget posts-list">
                            <div class="widget-title the-global-title">
                                <div class="the-subtitle">Tin Tức Mới<span class="widget-title-icon fa"></span></div>
                            </div>
                            <div class="timeline-widget">
                                <ul class="posts-list-items">
                                    <% Erp::Pgdq::Category.find(1).get_articles_for_categories(params).limit(3).each do |article| %>
                                    <li><a href="<%= article_link(article) %>" title="<%= article.get_name %>">
                                        <% if article.date_public.present? %>
                                        <span class="date meta-item fa-before"><%= article.date_public.strftime("%A, %d/%m/%Y") %></span>
                                        <% end %>
                                        <h3><%= truncate(article.get_name, length: 70) %></h3>
                                    </a></li>
                                    <% end %>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="tie-col-md-3 normal-side">
                        <div class="container-wrapper widget posts-list">
                            <div class="widget-title the-global-title">
                                <div class="the-subtitle">Hoạt Động Phật Sự Mới<span class="widget-title-icon fa"></span></div>
                            </div>
                            <div class="timeline-widget">
                                <ul class="posts-list-items">
                                    <% Erp::Pgdq::Category.find(2).get_articles_for_categories(params).limit(3).each do |article| %>
                                    <li><a href="<%= article_link(article) %>" title="<%= article.get_name %>">
                                        <% if article.date_public.present? %>
                                        <span class="date meta-item fa-before"><%= article.date_public.strftime("%A, %d/%m/%Y") %></span>
                                        <% end %>
                                        <h3><%= truncate(article.get_name, length: 70) %></h3>
                                    </a></li>
                                    <% end %>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="tie-col-md-3 normal-side">
                        <div class="container-wrapper widget posts-list">
                            <div class="widget-title the-global-title">
                                <div class="the-subtitle">Hoạt Động Ban Ngành Mới<span class="widget-title-icon fa"></span></div>
                            </div>
                            <div class="timeline-widget">
                                <ul class="posts-list-items">
                                    <% Erp::Pgdq::Category.find(3).get_articles_for_categories(params).limit(3).each do |article| %>
                                    <li><a href="<%= article_link(article) %>" title="<%= article.get_name %>">
                                        <% if article.date_public.present? %>
                                        <span class="date meta-item fa-before"><%= article.date_public.strftime("%A, %d/%m/%Y") %></span>
                                        <% end %>
                                        <h3><%= truncate(article.get_name, length: 70) %></h3>
                                    </a></li>
                                    <% end %>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>                    
                    <div class="tie-col-md-3 normal-side">
                        <div class="container-wrapper widget widget_tag_cloud">
                            <div class="widget-title the-global-title">
                                <div class="the-subtitle">Tags Phật Giáo Định Quán<span class="widget-title-icon fa"></span></div>
                            </div>
                            <div class="tagcloud">
                                <a href="">phật giáo đồng nai</a>
                                <a href="">phật giáo định quán</a>
                                <a href="">ban trị sự phật giáo</a>
                                <a href="">ban trị sự định quán</a>
                                <a href="">phật sự định quán</a>
                                <a href="">phật sự online</a>
                                <a href="">tin tức phật sự</a>
                                <a href="">phật tử định quán</a>
                                <a href="">tin tức phật giáo định quán</a>
                                <a href="">phật sự</a>
                                <a href="">gdpt huyện định quán</a>
                                <a href="">pháp âm phật giáo</a>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-widget-area ">
                <div class="tie-row">
                    <div class="tie-col-sm-4 normal-side">
                        <div id="author-bio-widget-4" class="container-wrapper widget aboutme-widget">
                            <div class="about-author about-content-wrapper">
                                <img alt="Phật Giáo Định Quán" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAKCAYAAADVTVykAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB9JREFUeNpi/P//P8NAAiaGAQajDhh1wKgDRh0AEGAAQTcDEcKDrpMAAAAASUVORK5CYII=" data-src="/img/logo-lite@2x.png" style="margin-top:0;margin-bottom:10px;width:320px;" class="about-author-img lazy-img" width="600" height="100">
                                <a href="//www.dmca.com/Protection/Status.aspx?ID=420dbb19-37d6-44f1-8d79-ead2b6592831" title="DMCA.com Protection Status" class="dmca-badge">
                                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAKCAYAAADVTVykAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB9JREFUeNpi/P//P8NAAiaGAQajDhh1wKgDRh0AEGAAQTcDEcKDrpMAAAAASUVORK5CYII=" data-src="//images.dmca.com/Badges/dmca-badge-w200-5x1-03.png?ID=420dbb19-37d6-44f1-8d79-ead2b6592831"  alt="DMCA.com Protection Status" title="DMCA.com Protection Status" class="lazy-img" />
                                </a>
                                <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"></script>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="tie-col-sm-8 normal-side text-center">
                        <div id="author-bio-widget-6" class="container-wrapper widget aboutme-widget">
                            <div class="about-author about-content-wrapper">
                                <div class="aboutme-widget-content">
                                    <h4>BAN TRỊ SỰ PHẬT GIÁO HUYỆN ĐỊNH QUÁN</h4>
                                    <strong>Văn Phòng: </strong>Chùa Pháp Quang, Xã Phú Ngọc, Huyện Định Quán, Tỉnh Đồng Nai<br>
                                    <!--<br><strong>Chịu trách nhiệm nội dung: </strong>..................................................................
                                    <br><strong>Trưởng ban biên tập: </strong>..................................................................
                                    <br><strong>Điện thoại: </strong>........................................-->
                                    <strong>Email: </strong><%= mail_to 'phatgiaodinhquan.org@gmail.com', 'phatgiaodinhquan.org@gmail.com', title: 'Phật Giáo Định Quán' %>                                    
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
    <div class="site-info site-info-layout-2">
        <div class="container">
            <div class="tie-row">
                <div class="tie-col-md-12">
                    <div class="copyright-text copyright-text-first">&copy; Copyright 2020 Phật Giáo Định Quán. All Rights Reserved.</div>
                    <div class="footer-menu">
                        <ul class="menu">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><%= link_to 'Trang Chủ', erp_pgdq.root_path, title: 'Phật Giáo Định Quán' %></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="">Tin tức</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="">Văn bản</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="">Phật học</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="">Tự viện</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>