<header id="theme-header" class="theme-header header-layout-3 main-nav-dark main-nav-below main-nav-boxed top-nav-active top-nav-light top-nav-above has-shadow mobile-header-centered">
    <nav id="top-nav" class="has-date-breaking-components top-nav header-nav has-breaking-news" aria-label="Secondary Navigation">
        <div class="container">
            <div class="topbar-wrapper">
                <div class="topbar-today-date fa-before">&nbsp;<%= Time.now.strftime("%A, %d/%m/%Y") %></div>
                <% if Erp::Pgdq::Article.count > 0 %>
                <div class="tie-alignleft">
                    <div class="breaking controls-is-active">
                        <span class="breaking-title"><span class="fa fa-bolt" aria-hidden="true"></span><span class="breaking-title-text">Tin mới nhất</span> </span> 
                        <ul id="breaking-news-in-header" class="breaking-news" data-type="reveal" data-arrows="true">
                            <% Erp::Pgdq::Article.all.limit(5).each do |article| %>
                            <li class="news-item"><%= link_to truncate(article.get_name, length: 70), category_link(article), title: article.get_name %></li>
                            <% end %>
                        </ul>
                    </div>
                </div>
                <% end %>
                <div class="tie-alignright">
                    <ul class="components">
                        <li class="social-icons-item">
                            <a class="social-link instagram-social-icon" title="Instagram" rel="external noopener nofollow" target="_blank" href="">
                                <span class="fa fa-instagram"></span>
                                <span class="screen-reader-text">Instagram</span>
                            </a>
                        </li>
                        <li class="social-icons-item">
                            <a class="social-link soundcloud-social-icon" title="SoundCloud" rel="external noopener nofollow" target="_blank" href="">
                                <span class="fa fa-soundcloud"></span>
                                <span class="screen-reader-text">SoundCloud</span>
                            </a>
                        </li>
                        <li class="social-icons-item">
                            <a class="social-link dribbble-social-icon" title="Dribbble" rel="external noopener nofollow" target="_blank" href="">
                                <span class="fa fa-dribbble"></span>
                                <span class="screen-reader-text">Dribbble</span>
                            </a>
                        </li>
                        <li class="social-icons-item">
                            <a class="social-link twitter-social-icon" title="Twitter" rel="external noopener nofollow" target="_blank" href="">
                                <span class="fa fa-twitter"></span>
                                <span class="screen-reader-text">Twitter</span>
                            </a>
                        </li>
                        <li class="social-icons-item">
                            <a class="social-link facebook-social-icon" title="Facebook" rel="external noopener nofollow" target="_blank" href="/">
                                <span class="fa fa-facebook"></span>
                                <span class="screen-reader-text">Facebook</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="container header-container">
        <div class="tie-row logo-row">
            <div class="logo-wrapper">
                <div class="tie-col-md-4 logo-container">
                    <a href="#" id="mobile-menu-icon"><span class="nav-icon"></span><span class="screen-reader-text">Chuyên Mục</span></a> 
                    <div id="logo" class="image-logo">
                        <% if params[:controller] == 'erp/pgdq/frontend/home' && params[:action] == 'index' %>
                        <h1 class="h1-off">Giáo Hội Phật Giáo Việt Nam Huyện Định Quán, Tỉnh Đồng Nai</h1>
                        <% end %>
                        <a title="Phật Giáo Định Quán" href="<%= erp_pgdq.root_path %>">
                            <img src="/img/logo.png" alt="Phật Giáo Định Quán" title="Phật Giáo Định Quán" class="logo_normal" width="300" height="49" style="max-height:49px; width: auto;">
                            <img src="/img/logo@2x.png" alt="Phật Giáo Định Quán" title="Phật Giáo Định Quán" class="logo_2x" width="300" height="49" style="max-height:49px; width: auto;">                             
                        </a>
                    </div>
                </div>
            </div>
            <!-- @start_todo --><!-- @end_todo -->
        </div>
    </div>
    <div class="main-nav-wrapper">
        <nav id="main-nav" data-skin="search-in-main-nav live-search-dark" class="main-nav header-nav live-search-parent" aria-label="Primary Navigation">
            <div class="container">
                <div class="main-menu-wrapper">
                    <div id="menu-components-wrap">
                        <div class="main-menu main-menu-wrap tie-alignleft">
                            <div id="main-nav-menu" class="main-menu header-menu">
                                <ul id="menu-main-menu" class="menu" role="menubar">
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home">
                                        <%= link_to 'Trang Chủ', erp_pgdq.root_path, title: 'Phật Giáo Định Quán' %>
                                    </li>
                                    <% Erp::Pgdq::Category.get_main_menus.each do |cat_parent| %>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
                                        <%= link_to cat_parent.get_name, category_link(cat_parent), title: cat_parent.get_name %>
                                        <ul class="sub-menu menu-sub-content">
                                            <% cat_parent.children.get_active.each do |cat_child| %>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                                <%= link_to cat_child.get_name, category_link(cat_child), title: cat_child.get_name %>
                                            </li>
                                            <% end %>
                                        </ul>
                                    </li>
                                    <% end %>                                    
                                </ul>
                            </div>
                        </div>
                        <ul class="components">
                            <li class="search-bar menu-item custom-menu-link" aria-label="Tìm bài viết">
                                <form>
                                    <input type="text" title="Nhập từ khóa..." placeholder="Nhập từ khóa..." />
                                    <button type="submit">
                                        <span class="fa fa-search" aria-hidden="true"></span>
                                        <span class="screen-reader-text">Tìm kiếm</span>
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>