<!DOCTYPE html> 
<html lang="vi-VN">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta name="robots" content="noindex, nofollow">
        
        <title>Phật Giáo Định Quán - Trang Tin Điện Tử Phật Giáo Huyện Định Quán</title>
        
        <meta http-equiv='x-dns-prefetch-control' content='on'>
        <link rel='dns-prefetch' href="//cdnjs.cloudflare.com/" />
        <link rel='dns-prefetch' href="//ajax.googleapis.com/" />
        <link rel='dns-prefetch' href="//fonts.googleapis.com/" />
        <link rel='dns-prefetch' href="//fonts.gstatic.com/" />
        <link rel='dns-prefetch' href="//s.gravatar.com/" />
        <link rel='dns-prefetch' href="//www.google-analytics.com/" />
        
        <link rel='preload' as='image' href="/img/logo.png" type='image/png'>
        <link rel='preload' as='image' href="/img/logo@2x.png" type='image/png'>
        <link rel='preload' as='font' href="/fonts/tiefonticon/tiefonticon.woff" type='font/woff' crossorigin='anonymous' />
        <link rel='preload' as='script' href="https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js">
        
        <link rel="alternate" type="application/rss+xml" title="" href="" />
        <link rel="alternate" type="application/rss+xml" title="" href="" />
        <link rel="alternate" type="application/rss+xml" title="" href="" />
        
        <meta property="og:title" content="" />
        <meta property="og:type" content="article" />
        <meta property="og:description" content="" />
        <meta property="og:url" content="" />
        <meta property="og:site_name" content="Phật Giáo Định Quán" />
        <meta property="og:image" content="" />
        
        <%= stylesheet_link_tag '/css/critical.css' %>
        <%= stylesheet_link_tag '/css/inline.css' %>
        
        <meta name="generator" content="" />
        <meta name="generator" content="" />
        
        <link rel="canonical" href="" />
        <link rel='shortlink' href="" />
        
        <link rel="alternate" type="application/json+oembed" href="" />
        <link rel="alternate" type="text/xml+oembed" href="" />
        
        <%= favicon_link_tag '/img/favicon-150x150.png', rel: 'icon', size: '32x32' %>
        <%= favicon_link_tag '/img/favicon-200x200.png', rel: 'icon', size: '192x192' %>
        <%= favicon_link_tag '/img/favicon-200x200.png', rel: 'apple-touch-icon' %>
        <meta name="msapplication-TileImage" content="/img/favicon-300x300.png" />
        <noscript><style>.woocommerce-product-gallery{opacity:1!important;}</style></noscript>
    </head>
    <body id="tie-body" class="<%= @body_class %>">
        <div class="background-overlay">
            <div id="tie-container" class="site tie-container">
                <div id="tie-wrapper">
                    <%= render 'erp/pgdq/frontend/modules/header' %>
                    <%= yield %>
                    <%= render 'erp/pgdq/frontend/modules/footer' %>
                    <a id="go-to-top" class="go-to-top-button" href="#go-to-tie-body"><span class="fa fa-angle-up"></span><span class="screen-reader-text">Back to top button</span></a>
                </div>
                <aside class="side-aside normal-side tie-aside-effect dark-skin dark-widgetized-area is-fullwidth" aria-label="Secondary Sidebar">
                    <div data-height="100%" class="side-aside-wrapper has-custom-scroll">
                        <a href="#" class="close-side-aside remove big-btn light-btn"><span class="screen-reader-text">Đóng</span></a> 
                        <div id="mobile-container">
                            <div id="mobile-menu"></div>
                            <div class="mobile-social-search">
                                <div id="mobile-social-icons" class="social-icons-widget solid-social-icons">
                                    <ul>
                                        <li class="social-icons-item"><a class="social-link facebook-social-icon" rel="external noopener nofollow" target="_blank" href="//www.facebook.com/TieLabs/"><span class="fa fa-facebook"></span><span class="screen-reader-text">Facebook</span></a></li>
                                        <li class="social-icons-item"><a class="social-link twitter-social-icon" rel="external noopener nofollow" target="_blank" href="//twitter.com/tielabs"><span class="fa fa-twitter"></span><span class="screen-reader-text">Twitter</span></a></li>
                                        <li class="social-icons-item"><a class="social-link dribbble-social-icon" rel="external noopener nofollow" target="_blank" href="//dribbble.com/mo3aser"><span class="fa fa-dribbble"></span><span class="screen-reader-text">Dribbble</span></a></li>
                                        <li class="social-icons-item"><a class="social-link soundcloud-social-icon" rel="external noopener nofollow" target="_blank" href="//soundcloud.com/"><span class="fa fa-soundcloud"></span><span class="screen-reader-text">SoundCloud</span></a></li>
                                        <li class="social-icons-item"><a class="social-link instagram-social-icon" rel="external noopener nofollow" target="_blank" href="//www.instagram.com/tielabs/"><span class="fa fa-instagram"></span><span class="screen-reader-text">Instagram</span></a></li>
                                    </ul>
                                </div>
                                <div id="mobile-search">
                                    <form role="search" method="get" class="search-form" action="../">
                                        <label>
                                            <span class="screen-reader-text">Search for:</span>
                                            <input type="search" class="search-field" placeholder="Search &hellip;" name="s" />
                                        </label>
                                        <input type="submit" class="search-submit" value="Search" />
                                    </form>
                                </div>
                            </div>
                        </div>                        
                    </div>
                 </aside>
            </div>
        </div>        
        <div id="is-scroller-outer"><div id="is-scroller"></div></div>
        
        <link rel="preload" href="/css/style.css" as="style" onload="this.onload=null;this.rel='stylesheet'" />
        <noscript><%= stylesheet_link_tag '/css/style.css' %></noscript>
        
        <link rel='preload' href="/css/helpers.min.css" as='style' onload='this.onload=null;this.rel="stylesheet"' />
        <noscript><%= stylesheet_link_tag '/css/helpers.min.css' %></noscript>
        
        <link rel='preload' href="/css/dark-skin.css" as='style' onload='this.onload=null;this.rel="stylesheet"' />
        <noscript><%= stylesheet_link_tag '/css/dark-skin.css' %></noscript>
        
        <%= javascript_include_tag '/js/js-01.js' %>
        <%= javascript_include_tag '/js/jquery-3.5.1.min.js' %>
        <%= javascript_include_tag '/js/scripts.js' %>
        <%= javascript_include_tag '/js/js-02.js' %>
        <%= javascript_include_tag '/js/scripts.min.js' %>
        <%= javascript_include_tag '/js/lightbox.js' %>
        <%= javascript_include_tag '/js/desktop.min.js' %>
        <%= javascript_include_tag '/js/live-search.js' %>
        <%= javascript_include_tag '/js/br-news.js' %>
        <%= javascript_include_tag '/js/sliders.min.js' %>
        <%= javascript_include_tag '/js/js-03.js' %>
    </body>
</html>