<!DOCTYPE html> 
<html lang="vi-VN">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="phật giáo đồng nai, phật giáo tỉnh đồng nai, phật giáo định quán, phật giáo huyện định quán, ban trị sự phật giáo, ban trị sự phật giáo huyện định quán, ban trị sự phật giáo tỉnh đồng nai, ban trị sự giáo hội phật giáo việt nam" />
    <meta name="description" content="Trang tin Phật Sự Online cập nhật những thông tin, hình ảnh, hoạt động Ban ngành, hoạt động Phật Sự tại huyện Định Quán, tỉnh Đồng Nai." />        
    <% if params[:controller] == 'erp/pgdq/frontend/home' && params[:action] == 'index' %>
    <title>Phật Giáo Định Quán | Trang Tin Phật Sự Online Huyện Định Quán</title>
    <% else %>
    <title><% if content_for?(:title) %><%= yield(:title) %> | Phật Giáo Định Quán<% else %>Phật Giáo Định Quán | Trang Tin Phật Sự Online Huyện Định Quán<% end %></title>
    <% end %>        
    <meta http-equiv='x-dns-prefetch-control' content='on'>
    <link rel='dns-prefetch' href="//cdnjs.cloudflare.com/" />
    <link rel='dns-prefetch' href="//ajax.googleapis.com/" />
    <link rel='dns-prefetch' href="//fonts.googleapis.com/" />
    <link rel='dns-prefetch' href="//fonts.gstatic.com/" />
    <link rel='dns-prefetch' href="//s.gravatar.com/" />
    <link rel='dns-prefetch' href="//www.google-analytics.com/" />
    <link rel='preload' as='image' href="/img/logo.png" type='image/png'>
    <link rel='preload' as='image' href="/img/logo@2x.png" type='image/png'>
    <link rel='preload' as='font' href="/fonts/tiefonticon/tiefonticon.woff" type='font/woff' crossorigin='anonymous' />
    <link rel='preload' as='script' href="https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js">
    <%= yield(:metas) %>
    <% if params[:controller] == 'erp/pgdq/frontend/home' && params[:action] == 'index' %><link rel="canonical" href="https://phatgiaodinhquan.org/" />
    <% elsif params[:controller] == 'erp/pgdq/frontend/category' && params[:action] == 'index' %><link rel="canonical" href="https://phatgiaodinhquan.org<%= category_link(@category) %>" />
    <% elsif params[:controller] == 'erp/pgdq/frontend/article' && params[:action] == 'index' %><link rel="canonical" href="https://phatgiaodinhquan.org/<%= article_link(@article) %>" /><% end %>
    <%= favicon_link_tag '/img/favicon-150x150.png', rel: 'icon', size: '32x32' %>
    <%= favicon_link_tag '/img/favicon-200x200.png', rel: 'icon', size: '192x192' %>
    <%= favicon_link_tag '/img/favicon-200x200.png', rel: 'apple-touch-icon' %>
    <meta name="msapplication-TileImage" content="/img/favicon-300x300.png" />
    <%= stylesheet_link_tag '/css/critical.css' %>
    <%= stylesheet_link_tag '/css/inline.css' %>
    <noscript><style>.woocommerce-product-gallery{opacity:1!important;}</style></noscript>
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "name": "Phật Giáo Định Quán",
      "url": "https://phatgiaodinhquan.org/",
      "logo": "https://phatgiaodinhquan.org/img/logo.png"
    }
    </script>
    <% if params[:controller] == 'erp/pgdq/frontend/category' && params[:action] == 'index' %>
    <script type="application/ld+json">
    {
        "@context": "https://schema.org/", 
        "@type": "BreadcrumbList", 
        "itemListElement": [{
            "@type": "ListItem", 
            "position": 1, 
            "name": "Phật Giáo Định Quán",
            "item": "https://phatgiaodinhquan.org/"  
        },
        <% if @category.parent.nil? %>
        {
            "@type": "ListItem", 
            "position": 2, 
            "name": "<%= @category.get_name %>",
            "item": "http://chualinhquang.com.vn<%= category_link(@category) %>"  
        }]
        <% else %>
        {
            "@type": "ListItem", 
            "position": 2, 
            "name": "<%= @category.parent.get_name %>",
            "item": "http://chualinhquang.com.vn<%= category_link(@category.parent) %>"  
        },
        {
            "@type": "ListItem", 
            "position": 3, 
            "name": "<%= @category.get_name %>",
            "item": "http://chualinhquang.com.vn<%= category_link(@category) %>"  
        }]
        <% end %>
    }
    </script>
    <% end %>
    <% if params[:controller] == 'erp/pgdq/frontend/article' && params[:action] == 'index' %>
    <script type="application/ld+json">
    {
        "@context": "https://schema.org/", 
        "@type": "BreadcrumbList", 
        "itemListElement": [{
            "@type": "ListItem", 
            "position": 1, 
            "name": "Phật Giáo Định Quán",
            "item": "https://phatgiaodinhquan.org/"  
        },            
        {
            "@type": "ListItem", 
            "position": 2, 
            "name": "<%= @category.get_name %>",
            "item": "http://chualinhquang.com.vn<%= category_link(@category) %>"  
        },
        {
            "@type": "ListItem", 
            "position": 3, 
            "name": "<%= @article.get_name %>",
            "item": "http://chualinhquang.com.vn<%= article_link(@article) %>"  
        }]
    }
    </script>
    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Article",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "phatgiaodinhquan"
        },
        "headline": "<%= @article.get_name %> | Phật Giáo Định Quán",
        "image": "<%= @article.image.detail %>",
        <% if @article.date_public.present? %>"datePublished": "<%= @article.date_public.strftime("%d/%m/%Y") %>",<% end %>
        "dateModified": "<%= @article.updated_at.strftime("%d/%m/%Y") %>",
        "author": {
            "@type": "Organization",
            "name": "Phật Giáo Định Quán"
        },
         "publisher": {
            "@type": "Organization",
            "name": "Phật Giáo Định Quán",
            "logo": {
                "@type": "ImageObject",
                "url": "https://phatgiaodinhquan.org/img/logo.png"
            }
        },
        "description": "<%= @article.meta_description %>"
    }
    </script>
    <% end %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177229462-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-177229462-1');
    </script>
</head>
<body id="tie-body" class="<%= @body_class %>">
    <div class="background-overlay">
        <div id="tie-container" class="site tie-container">
            <div id="tie-wrapper">
                <%= render 'erp/pgdq/frontend/modules/header' %>
                <%= yield %>
                <%= render 'erp/pgdq/frontend/modules/footer' %>
                <a id="go-to-top" class="go-to-top-button" href="#go-to-tie-body">
                    <span class="fa fa-angle-up"></span>
                    <span class="screen-reader-text">Lên đầu trang</span>
                </a>
            </div>
            <aside class="side-aside normal-side tie-aside-effect dark-skin dark-widgetized-area is-fullwidth" aria-label="Secondary Sidebar">
                <div data-height="100%" class="side-aside-wrapper has-custom-scroll">
                    <a href="#" class="close-side-aside remove big-btn light-btn"><span class="screen-reader-text">Đóng</span></a> 
                    <div id="mobile-container">
                        <div id="mobile-menu"></div>
                        <div class="mobile-social-search">
                            <div id="mobile-social-icons" class="social-icons-widget solid-social-icons">
                                <ul>
                                    <li class="social-icons-item">
                                        <a class="social-link facebook-social-icon" title="Facebook" rel="external noopener nofollow" target="_blank" href="">
                                            <span class="fa fa-facebook"></span>
                                            <span class="screen-reader-text">Facebook</span>
                                        </a>
                                    </li>
                                    <li class="social-icons-item">
                                        <a class="social-link twitter-social-icon" title="Twitter" rel="external noopener nofollow" target="_blank" href="">
                                            <span class="fa fa-twitter"></span>
                                            <span class="screen-reader-text">Twitter</span>
                                        </a>
                                    </li>
                                    <li class="social-icons-item">
                                        <a class="social-link dribbble-social-icon" title="Dribbble" rel="external noopener nofollow" target="_blank" href="">
                                            <span class="fa fa-dribbble"></span>
                                            <span class="screen-reader-text">Dribbble</span>
                                        </a>
                                    </li>
                                    <li class="social-icons-item">
                                        <a class="social-link soundcloud-social-icon" title="SoundCloud" rel="external noopener nofollow" target="_blank" href="">
                                            <span class="fa fa-soundcloud"></span>
                                            <span class="screen-reader-text">SoundCloud</span>
                                        </a>
                                    </li>
                                    <li class="social-icons-item">
                                        <a class="social-link instagram-social-icon" title="Instagram" rel="external noopener nofollow" target="_blank" href="">
                                            <span class="fa fa-instagram"></span>
                                            <span class="screen-reader-text">Instagram</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div id="mobile-search">
                                <form class="search-form">
                                    <label>
                                        <span class="screen-reader-text">Tìm bài viết:</span>
                                        <input type="search" class="search-field" placeholder="Nhập từ khóa..." name="" />
                                    </label>
                                    <input type="submit" class="search-submit" value="Tìm kiếm" />
                                </form>
                            </div>
                        </div>
                    </div>                        
                </div>
             </aside>
        </div>
    </div>        
    <div id="is-scroller-outer"><div id="is-scroller"></div></div>
    <link rel="preload" href="/css/style.css" as="style" onload="this.onload=null;this.rel='stylesheet'" />
    <noscript><%= stylesheet_link_tag '/css/style.css' %></noscript>
    <link rel='preload' href="/css/helpers.min.css" as='style' onload='this.onload=null;this.rel="stylesheet"' />
    <noscript><%= stylesheet_link_tag '/css/helpers.min.css' %></noscript>
    <link rel='preload' href="/css/dark-skin.css" as='style' onload='this.onload=null;this.rel="stylesheet"' />
    <noscript><%= stylesheet_link_tag '/css/dark-skin.css' %></noscript>
    <%= javascript_include_tag '/js/js-custom.js' %>
    <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js' %>
    <%= javascript_include_tag '/js/scripts.js' %>
    <%= javascript_include_tag '/js/scripts.min.js' %>
    <%= javascript_include_tag '/js/lightbox.js' %>
    <%= javascript_include_tag '/js/desktop.min.js' %>
    <%= javascript_include_tag '/js/live-search.js' %>
    <%= javascript_include_tag '/js/br-news.js' %>
    <%= javascript_include_tag '/js/sliders.min.js' %>
</body>
</html>